#canvas {
  border: 1px solid black;
  background-color: #fff;
  border-radius: 10px;
}

#bounded-canvas {
  border: 1px solid black;
  background-color: #fff;
  border-radius: 10px;
}

#mnist-canvas {
  border: 1px solid black;
  background-color: #fff;
}

.hidden {
  display: none;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mnist-canvas-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}


.mnist-canvas-container h5 {
  color: #61dafb;
  margin-left: 70px;
  margin-right: 10px;
}
